{
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 125
      }
    }
  ]
}
